* {
    margin: 0;
    padding: 0;
    border: 0
}
.header{
    display: flex;
    width: 98%;
    height: 140px;
    padding: 10px;
    border: 10px solid #ff00f2;
    background-color: black;
}
h1{
    font-size: 50px;
    color: rgb(2, 255, 192);
    margin-left: 30%;
}
p{
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 30%;
}
p1{
    font-size: 50px;
    margin-bottom: 50px;
    margin-left: 30%;
}
.a1{
    font-size: 24px;
    margin-left: 30%;
}
ol{
    margin-left: 30%;
    font-size: 24px;
}
li{
    margin-left: 30%;
    font-size: 24px;
}
h2{
    font-size: 40px;
    margin-left: 45%;
    color: red;
}
img{
    margin-left: 30%;
}
p2{
    margin-left: 30%;
    color: brown;
    font-size: 50px;
}
body{
    background-color: rgb(240, 139, 139);
}
.parent{
    display: flex;
    font-size: 50px;
    color: #db11db;
    padding-left: 500PX;
}
.a2{
    font-size: 24px;
    margin-left: 30%;
}
.a3{
    font-size: 24px;
    margin-left: 30%;
}
.logo {
    width: 150px;
    height: 150px;
}
.menu {
    display: inline-block;
    margin-left: 400px;
    vertical-align: middle;
    line-height: 50px;
    font-size: 25px;
    
}
.menu__link {
    display: inline-block;
    padding: 40px 50px;
}
.menu__link + .menu__link {
    margin-left: 20px;
}
